<div class="fingerprint container">
    <h1>Create an account</h1>
    <form (ngSubmit)="handleSubmit()" [formGroup]="registerForm">
        <div class="input-group">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Username" formControlName="username" required />
            @if (username.invalid && (username.dirty || username.touched)) {
            <small class="error">
                Username is required.
            </small>
            }
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password" formControlName="password" required />
            @if (password.errors?.['required'] && (password.dirty || password.touched)) {
            <small class="error">
                Password is required.
            </small>
            }

            @if (password.errors?.['minlength'] && (password.dirty || password.touched)) {
            <small class="error">
                Password is required.
            </small>
            <small class="error">
                Password must be at least 8 characters. </small> }
        </div>
        <button [disabled]="isLoading() || registerForm.invalid" type="submit">
            {{ isLoading() ? "In progess..." : "Create Account" }}
        </button>
    </form>

    @if (hasError()) {
    <div class="error">Registration failed. Please try again.</div>
    }
</div>
