<div class="fingerprint container">
    <h1>Create an account</h1>
    <form (ngSubmit)="handleSubmit()" [formGroup]="registerForm">
        <div class="input-group">
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Username" formControlName="username" required />

        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password" formControlName="password" required />
        </div>
        <button [disabled]="isLoading()" type="submit">
            {{ isLoading() ? "Loading…" : "Create Account" }}
        </button>
    </form>

    @if (isLoading()) {
    <div>Registering...</div>
    }
    @if (hasError()) {

    <div class="error">Registration failed. Please try again.</div>
    }
</div>
